
.output {
  width:400px;
  height: 75px;
  background-color: black;
  text-align: right;
  color: white;
  font-size: 50px;
}

.topButtons {
  display: flex;
padding: 0px;
margin: 0px;
}

#clear {
  width: 200px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
 
}

#backspace {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  text-align: center;
  font-size: 50px;
}

#divide {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 40px;
}

.secondButtons {
  display: flex;
padding: 0px;
margin: 0px;
}

#seven {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

#eight {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

#nine {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

#multiply {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

.thirdButtons {
  display: flex;
padding: 0px;
margin: 0px;
}

#four {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

#five {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

#six {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

#subtract {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 60px;
}

.fourthButtons {
  display: flex;
padding: 0px;
margin: 0px;
}

#one {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

#two {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

#three {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

#addition {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

.fithButtons {
  display: flex;
  padding: 0px;
  margin: 0px;
}

#zero {
  width: 300px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}

#equals {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  font-size: 50px;
}
