#topBar {
  display: flex;
  width: 400px;
  height: 75px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border: solid black 2px;
  text-align: right;
  transform: rotateY(180deg);
}

.topButtons {
  display: flex;
padding: 0px;
margin: 0px;
}

.topButtons :first-child {
  width: 200px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
 
}

#one2 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
  text-align: left;
  
}

#one3 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

.secondButtons {
  display: flex;
padding: 0px;
margin: 0px;
}

#two1 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

#two2 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

#two3 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

#two4 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

.thirdButtons {
  display: flex;
padding: 0px;
margin: 0px;
}

#three1 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

#three2 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

#three3 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

#three4 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

.fourthButtons {
  display: flex;
padding: 0px;
margin: 0px;
}

#four1 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

#four2 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

#four3 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

#four4 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

.fithButtons {
  display: flex;
  padding: 0px;
  margin: 0px;
}

#five1 {
  width: 300px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}

#five2 {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  border: solid black 2px;
}
